body {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-width: 840px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "MuseoModerno", "Palatino", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  color: rgb(48, 48, 48);
  background-color: rgb(255, 255, 255);
}

.header,
.footer {
  display: flex;
  align-items: center;
}

.header,
.tiramisu-dessert-page,
.footer {
  padding: 1em 2em;
}

.header {
  justify-content: space-between;
}

.logo {
  flex-shrink: 0;
  font-size: 1.6em;
  font-weight: bold;
  color: rgb(227, 178, 97);
  text-transform: uppercase;
}

.nav__list {
  display: flex;
  padding-left: 2em;
  gap: 3em;
}

.nav__link {
  font-weight: bold;
  letter-spacing: 0.2em;
  color: rgb(48, 48, 48);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav__link:hover,
.nav__link:focus {
  color: rgb(204, 0, 0);
}

/* Main content */
.tiramisu-dessert-page {
  flex: 1;
}

.tiramisu-dessert-page__title {
  margin-top: 3em;
  padding-bottom: 0.1em;
  text-align: center;
}

.tiramisu-dessert-page__subtitle {
  margin-bottom: 2em;
  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: rgb(227, 178, 97);
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  display: flex;
  flex-wrap: wrap;
}

.description-left,
.description-right {
  width: 108px;
}

.description-left {
  font-weight: bold;
}

.ingredients {
  margin: 2em 0;
  font-size: 1.2em;
  cursor: pointer;
}

.ingredients__list {
  margin-left: 2em;
  list-style-type: circle;
}

.steps-title {
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(204, 0, 0);
}

.steps__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-bottom: 2em;
}

.text {
  flex: 1;
  padding: 0.6em 1em;
  border: 0.2em solid rgba(111, 111, 111, 0.5);
}

.text:hover,
.text:focus {
  border-color: rgb(204, 0, 0);
}

.image {
  flex: 2;
  flex-shrink: 0;
}

.footer {
  flex-shrink: 0;
  justify-content: center;
  font-size: 1.2em;
  font-weight: 800;
  color: rgb(227, 178, 97);
  text-transform: uppercase;
}